<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>{{.Label}}</string>
        <key>ProgramArguments</key>
        <array>
            <string>sudo</string>
            <string>{{.Binary}}</string>
            <string>start</string>
            <string>{{.Profile}}</string>
        </array>
        <key>StandardErrorPath</key>
        <string>{{.Stderr}}</string>
        <key>StandardOutPath</key>
        <string>{{.Stdout}}</string>
        <key>RunAtLoad</key>
        <true />
        <key>KeepAlive</key>
        <dict>
            <key>PathState</key>
            <dict>
                <key>{{.PidFile}}</key>
                <true />
            </dict>
        </dict>
    </dict>
</plist>