name: Go

on:
  push:
    tags: ["v*"]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
            version: v1.43.0
            args: --timeout 3m0s

      - name: Build
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --skip-publish --snapshot --skip-sign --debug

      - name: Test
        run: go test -v ./...

  release:
    needs: "build"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: generate macOS binaries
        run: |
          make OS=Darwin ARCH=x86_64
          make OS=Darwin ARCH=arm64

      - name: generate Linux binaries
        run: |
          make OS=Linux ARCH=x86_64
          make OS=Linux ARCH=aarch64

      - name: create release
        if: github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          tag="${GITHUB_REF##*/}"

          hub release create
          -a _output/binaries/colima-Darwin-x86_64
          -a _output/binaries/colima-Darwin-x86_64.sha256sum
          -a _output/binaries/colima-Darwin-arm64
          -a _output/binaries/colima-Darwin-arm64.sha256sum
          -a _output/binaries/colima-Linux-x86_64
          -a _output/binaries/colima-Linux-x86_64.sha256sum
          -a _output/binaries/colima-Linux-aarch64
          -a _output/binaries/colima-Linux-aarch64.sha256sum
          -m "${tag}" --draft "${tag}"
