name: Integration

on:
  push:
    tags: ["v*"]
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docker:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Install CLI deps
        run: |
          brew install kubectl docker coreutils lima

      - name: Build and Install Colima
        run: make && sudo make install

      - name: Start Colima
        run: colima start --runtime docker

      - name: Delay
        run: sleep 5

      - name: Validate Docker
        run: docker ps && docker info

      - name: Build Image
        run: docker build integration

      - name: Stop
        run: colima stop

      - name: Kubernetes
        run: colima start --runtime docker --with-kubernetes

      - name: Delay
        run: sleep 20

      - name: Validate Kubernetes
        run: kubectl cluster-info && kubectl version && kubectl get nodes -o wide

      - name: Teardown
        run: colima delete -f

  containerd:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Install CLI deps
        run: |
          brew install kubectl docker coreutils lima

      - name: Build and Install Colima
        run: make && sudo make install

      - name: Start Colima
        run: colima start --runtime containerd

      - name: Delay
        run: sleep 5

      - name: Validate Containerd
        run: colima nerdctl ps && colima nerdctl info

      - name: Build Image
        run: colima nerdctl -- build integration

      - name: Stop
        run: colima stop

      - name: Kubernetes
        run: colima start --runtime containerd --with-kubernetes

      - name: Delay
        run: sleep 20

      - name: Validate Kubernetes
        run: kubectl cluster-info && kubectl version && kubectl get nodes -o wide

      - name: Teardown
        run: colima delete -f
