name: Integration

on:
  push:
    tags: ["v*"]
    branches: [main]
    paths-ignore:
      - "**/*.md"
      - "**/*.nix"
      - "**/*.lock"
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/*.md"
      - "**/*.nix"
      - "**/*.lock"
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Debug with tmate set "debug_enabled"'
        required: false
        default: "false"

jobs:
  kubernetes-docker:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.1"

      - name: Install CLI deps
        run: brew install kubectl docker coreutils lima

      - name: Build and Install
        run: make && sudo make install

      - name: tmate debugging session
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
        with:
          limit-access-to-actor: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

      - name: Start Colima
        run: colima start --runtime docker --kubernetes

      - name: Delay
        run: sleep 20

      - name: Validate Kubernetes
        run: kubectl cluster-info && kubectl version && kubectl get nodes -o wide

      - name: Teardown
        run: colima delete -f

  kubernetes-containerd:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.1"

      - name: Install CLI deps
        run: brew install kubectl docker coreutils lima

      - name: Build and Install
        run: make && sudo make install

      - name: tmate debugging session
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
        with:
          limit-access-to-actor: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

      - name: Start
        run: colima start --runtime containerd --kubernetes

      - name: Delay
        run: sleep 20

      - name: Validate Kubernetes
        run: kubectl cluster-info && kubectl version && kubectl get nodes -o wide

      - name: Teardown
        run: colima delete -f

  docker:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.1"

      - name: Install CLI deps
        run: brew install kubectl docker coreutils lima

      - name: Build and Install
        run: make && sudo make install

      - name: tmate debugging session
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
        with:
          limit-access-to-actor: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

      - name: Start Colima
        run: colima start --runtime docker

      - name: Delay
        run: sleep 10

      - name: Validate Docker
        run: docker ps && docker info

      - name: Validate DNS
        run: colima ssh -- sh -c "sudo apt-get update -y -qq && sudo apt-get install -qq dnsutils && nslookup host.docker.internal"

      - name: Build Image
        run: docker build integration

      - name: Run Image arm64
        run: docker run --rm --platform=linux/arm64 ghcr.io/linuxcontainers/alpine:latest uname -a

      - name: Run Image amd64
        run: docker run --rm --platform=linux/amd64 ghcr.io/linuxcontainers/alpine:latest uname -a

      - name: Stop
        run: colima stop

      - name: Temp Delete
        run: colima delete -f

      - name: Restart
        run: colima start --runtime docker

      - name: Assert runtime disk arm64
        run: docker run --pull=never --rm --platform=linux/arm64 ghcr.io/linuxcontainers/alpine:latest uname -a

      - name: Assert runtime disk amd64
        run: docker run --pull=never --rm --platform=linux/amd64 ghcr.io/linuxcontainers/alpine:latest uname -a

      - name: Teardown
        run: colima delete --data -f

  containerd:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.1"

      - name: Install CLI deps
        run: brew install kubectl docker coreutils lima

      - name: Build and Install
        run: make && sudo make install

      - name: tmate debugging session
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
        with:
          limit-access-to-actor: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

      - name: Start Colima
        run: colima start --runtime containerd

      - name: Delay
        run: sleep 10

      - name: Validate Containerd
        run: colima nerdctl ps && colima nerdctl info

      - name: Validate DNS
        run: colima ssh -- sh -c "sudo apt-get update -y -qq && sudo apt-get install -qq dnsutils && nslookup host.docker.internal"

      - name: Build Image
        run: colima nerdctl -- build integration

      - name: Run Image arm64
        run: colima nerdctl -- run --rm --platform=linux/arm64 ghcr.io/linuxcontainers/alpine:latest uname -a

      - name: Run Image amd64
        run: colima nerdctl -- run --rm --platform=linux/amd64 ghcr.io/linuxcontainers/alpine:latest uname -a

      - name: Stop
        run: colima stop

      - name: Temp Delete
        run: colima delete -f

      - name: Restart
        run: colima start --runtime containerd

      - name: Assert runtime disk arm64
        run: colima nerdctl -- run --pull=never --rm --platform=linux/arm64 ghcr.io/linuxcontainers/alpine:latest uname -a

      - name: Assert runtime disk amd64
        run: colima nerdctl -- run --pull=never --rm --platform=linux/amd64 ghcr.io/linuxcontainers/alpine:latest uname -a

      - name: Teardown
        run: colima delete --data -f

  incus:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.1"

      - name: Install CLI deps
        run: brew install kubectl docker coreutils lima incus

      - name: Build and Install
        run: make && sudo make install

      - name: tmate debugging session
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
        with:
          limit-access-to-actor: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

      - name: Start Colima
        run: colima start --runtime incus

      - name: Delay
        run: sleep 10

      - name: Validate Incus
        run: incus version && incus list

      - name: Validate DNS
        run: colima ssh -- sh -c "sudo apt-get update -y -qq && sudo apt-get install -qq dnsutils && nslookup host.docker.internal"

      - name: Stop
        run: colima stop

      - name: Teardown
        run: colima delete -f
